@page
@model vakantie_crud.Pages.InlogModel
@{
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="jumbotron bg-light">
                <h2 class="mb-4">Inloggen</h2>
                <form method="post">
                    <div class="mb-3">
                        <span asp-validation-for="gebruikersnaam" class="form-label">Gebruikersnaam</span>
                        <input type="text" class="form-control" asp-for="gebruikersnaam"
                               placeholder="Vul hier uw gebruikersnaam in">
                    </div>
                    <div class="mb-3">
                        <span asp-validation-for="wachtwoord" class="form-label">Wachtwoord</span>
                        <input type="password" class="form-control" asp-for="wachtwoord"
                               placeholder="Vul hier uw wachtwoord in">
                    </div>
                    <button type="submit" class="btn btn-primary">Inloggen</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
